@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Exo 2", sans-serif;
    list-style: none;
    text-decoration: none;
}



body{
    background: url(img/2nike’s-best-casual-shoes-for-everyday-wear.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}


header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 48px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    background-attachment: fixed;
    overflow: hidden;
}

header .logo{
    width: 150px;
}

.navi ul{
    display: flex;
    align-items: center;
    gap: 17px;
}

.navi ul a{
    color: #FFD78A;
    font-size: 25px;
    padding-bottom: 5px;
    border-bottom: 2px solid transparent;
    transition: all .1s;
}

.navi ul li a:hover{
    border-bottom: 5px solid salmon;
}

.navi .pesquisa{
    width: 25px;
    cursor: pointer;
}

.navi .cadastro{
    width: 25px;
    cursor: pointer;
}

.navi ul img:hover{
    border-bottom: 10px solid salmon;
}

#secao {

    height: 30vh;
    display: flex;
    flex-wrap: wrap;
    max-width: 7000px;
    margin: 0 auto;
}

#secao > div {
    flex: 1 1 250px;
    margin: 5px;
}

img{
    max-width: 100%;
    display: block;
}

#secao img {
    width: 250px;
    height: 9vh;
}

#texto {
    color: #FFD78A;
    font-size: 18px;
    padding-bottom: 10px;
    border-bottom: 2px solid transparent;
    display: flex;
    align-items:flex-start
}

.grid1 {
display: grid;
grid-template-columns: repeat(3, 1fr);
max-width: 1000px;
margin: 0 auto;
grid-gap: 20px;
}

.grid1 > div:nth-child(n + 4){

   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-gap: 10px;
   align-items: center;
}


@media (max-width: 600px){
    .grid1{
        grid-template-columns: repeat(2, 1fr);
    }

    .grid1 > div:nth-child(n + 4){
        display: block;
    }
}


.grid1 >div{
    color: #FFD78A;
    font-size: 25px;
    padding-bottom: 5px;
    border-bottom: 2px solid transparent;
    transition: all .1s;

}

.grid1 > div:hover{
    border-bottom: 5px solid salmon;
}

#secao-orcamento{
    height: 100vh;
    padding: 3rem;
}

#secao-orcamento form{
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
    max-width: 500px;
    margin: 0 auto;
}

.campo {
    display: flex;
    flex-direction: column;
}

.linha {
    grid-column: 1 / 3;
}

input[type=text],
input[type=number],
select
{
    color: #FFD78A;
    background-color: #272537;
    color: #FFD78A;
    border-radius: .25rem;
    border: 0;
    padding: .5rem;
}


input[type=radio],
input[type=checkbox],
input[type=range]{
    accent-color: #F0C;
}

#secao-orcamento{
    color: #FFD78A;
    display: inline-flexbox;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
    grid-gap: 20px;
    display: block;
  

}

#secao-orcamento h2{
    align-self: center;
    

}